openapi: 3.0.0
servers:
  - url: https://sbnsurveys.astro.umd.edu/api/
info:
  title: SBN Survey Image Service
  version: {{version}}
  description: API for serving images, cutouts, and data labels from survey data provided by the NASA Planetary Data System Small Bodies Node.  See the [API User's Guide](https://sbn-survey-image-service.readthedocs.io/en/stable/api-guide.html) for more information.
servers:
  - url: {{base_href}}
paths:
  /images/{id}:
    get:
      tags:
        - Survey images and labels
      summary: Get survey image (full-size or sub-frame) or label corresponding to the requested image ID.  Image data may be returned in FITS, JPEG, or PNG formats.
      operationId: sbn_survey_image_service.api.images.get_image
      parameters:
        - name: id
          in: path
          description: Unique image data logical identifier (PDS4)
          example: urn:nasa:pds:gbo.ast.neat.survey:data_tricam:p20020222_obsdata_20020222120052c
          required: true
          allowEmptyValue: false
          schema:
            type: string
        - name: format
          in: query
          description: Image format, or "label" to return the PDS label for the original image.
          required: false
          allowEmptyValue: false
          schema:
            type: string
            enum: [fits, jpeg, png, label]
        - name: ra
          in: query
          description: Cutout image center Right Ascension (J2000) in degrees.
          example: 174.62244
          required: false
          allowEmptyValue: false
          schema:
            type: number
            minimum: 0
            maximum: 360
        - name: dec
          in: query
          description: Cutout image center Declination (J2000) in degrees.
          example: 17.97594
          required: false
          allowEmptyValue: false
          schema:
            type: number
            minimum: -90
            maximum: 90
        - name: size
          in: query
          description: "Cutout image size, including units. Allowed units: arcsec, arcmin, deg, degree, rad, or radian.  Maximum size is 1024 pixels."
          example: 5arcmin
          required: false
          allowEmptyValue: false
          schema:
            type: string
            pattern: '^\d+(\.\d*)?(arcsec|arcmin|deg|degree|rad|radian)$'
        - name: align
          in: query
          description: "Rotate JPEG- or PNG-formatted images to align equatorial north with the image up direction.  Otherwise the image will have the same orientation as the native FITS data (drawn with the origin in the lower left)."
          example: false
          required: false
          allowEmptyValue: false
          schema:
            type: boolean
        - name: download
          in: query
          description: Prompt for downloading via web browsers (sets HTTP Content-Disposition).
          example: true
          allowEmptyValue: false
          schema:
            type: boolean
      responses:
        "200":
          description: Data product (full-size or sub-frame), web preview image,  or label.
          content:
            text/plain:
              schema:
                type: string
            image/fits:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
  /query:
    get:
      tags:
        - Search survey metadata
      summary: Search survey metadata
      operationId: sbn_survey_image_service.api.query.run_query
      parameters:
        - name: collection
          in: query
          description: Query for data with this PDS4 collection logical identifier
          required: false
          allowEmptyValue: false
          schema:
            type: string
        - name: facility
          in: query
          description: Query for data from this observing facility
          required: false
          allowEmptyValue: false
          schema:
            type: string
        - name: instrument
          in: query
          description: Query for data from this instrument
          required: false
          allowEmptyValue: false
          schema:
            type: string
        - name: dptype
          in: query
          description: Query for data with this data product type
          required: false
          allowEmptyValue: false
          schema:
            type: string
        - name: format
          in: query
          description: Specify the format of the response from the access URL
          required: false
          allowEmptyValue: false
          schema:
            type: string
            enum: [fits, jpeg, png, label]
            default: fits
        - name: maxrec
          in: query
          description: Specify the maximum number of records to return
          required: false
          allowEmptyValue: false
          schema:
            type: integer
            minimum: 0
            maximum: 1000
            default: 100
        - name: offset
          in: query
          description: Skip the first "offset" records
          required: false
          allowEmptyValue: false
          schema:
            type: integer
      responses:
        "200":
          description: Image metadata query results
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    description: Total number of matches in the database
                    type: integer
                  count:
                    description: Number of matches returned in this request
                    type: integer
                  offset:
                    description: Number of matches skipped before returning records
                    type: integer
                  results:
                    type: array
                    description: List of matching images
                    items:
                      type: object
                      description: Image metadata
                      properties:
                        obs_id:
                          description: Unique data product ID
                          type: string
                        collection:
                          description: PDS4 collection logical identifier
                          type: string
                        facility:
                          description: Observing facility name
                          type: string
                        instrument:
                          description: Observing instrument name
                          type: string
                        dptype:
                          description: Data product type
                          type: string
                        calibration_level:
                          description: "Data calibration level (IVOA ObsCore calib_level)"
                          type: integer
                        target:
                          description: Intended target
                          type: string
                        pixel_scale:
                          description: Image pixel scale in degrees
                          type: number
                        access_url:
                          description: URL to the data product as specified by query parameter "format"
                          type: string
  /summary:
    get:
      tags:
        - Database summary
      summary: Database summary, describing the collections, facilities, instruments, and number of data products.
      operationId: sbn_survey_image_service.api.summary.get_summary
      responses:
        "200":
          description: Summary
          content:
            application/json:
              schema:
                type: array
                description: List of unique collection-facility-instrument combinations.
                items:
                  type: object
                  description: Collection-facility-instrument combination and number of data products.
                  properties:
                    collection:
                      description: PDS4 collection logical identifier
                      type: string
                    facility:
                      description: Observing facility name
                      type: string
                    instrument:
                      description: Observing instrument name
                      type: string
                    count:
                      description: Number of data products
                      type: integer
